@import '~antd/lib/style/themes/default.less';

.infinite-container {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 0;
  height: 600px;

  :global {
    .ant-menu-item {
      line-height: 80px;
      height: 80px;
    }
  }
}

.loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
